﻿@model CTMS___O6U.Models.DriverTrainingModel
@{
    ViewBag.Title = "Assign";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Assign Training to drivers</h2>


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Driver_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Company", ViewBag.CompanyNames as SelectList, "-- Select Status --", new { @class = "form-control", @id = "companyLt" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            @Html.Label("Driver", htmlAttributes: new { @class = "control-label col-md-2" })
            <select id="driverslt" class="form-control" name="Driver">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Notes" >Notes</label>
        <div class="col-md-10">
            <input class="form-control noteTxt text-box single-line" id="NotesIn" name="Notes" value="" type="text">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
            <input type="button" onclick="newElement()" value="Add to list" class="btn btn-default addBtn" style="width:100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="datalist" class="table">
                <thead>
                    <tr>
                        <th>Driver name</th>
                        <th>Company name</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="datalistBody"></tbody>
            </table>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="dataName" id="stringIn" />
            <div class="form-group">
                <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
                    <input id="assiBtn" type="submit" value="Assign" class="btn btn-default" style="width:100%;" />
                </div>
            </div>

    }
</div>



<script>
    $(function () {
        $("#companyLt").change(function () {
            $.get("/Training/getDrivers", { companyId: $("#companyLt").val() }, function (data) {
                $("#driverslt").empty();
                $.each(data, function (index, row) {
                    $("#driverslt").append("<option value='" + row.id + "'>" + row.id + " - " +row.name + "</option>")
                });
            });

        });
    });

    var assignVal = new Array();

    $("#assiBtn").click(function () {
        $("#datalistBody").find("tr").each(function (index) {
            assignVal[assignVal.length] = $(this).find("td[class='driverId']").text();
            assignVal[assignVal.length] = $(this).closest("tr").find("td[class='noteTxt']").text();
        });
        //alert(assignVal.toString());
        $('#stringIn').val(assignVal.join("~"));
    });

    var close = document.getElementsByClassName("close");
    var i;


    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            $(this).closest('tr').remove();

            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    function newElement() {

        var dradded = false;
        var caradded = false;

        var drivlt = document.getElementById("driverslt");
        var noteTxt = document.getElementById("NotesIn");
        var table = document.getElementById("datalistBody");

        var tr = document.createElement("tr");
        var td1, td2, td3, td4;
        td1 = document.createElement("td");
        td2 = document.createElement("td");
        td3 = document.createElement("td");
        td4 = document.createElement("td");

        var data1 = document.createTextNode(drivlt.options[drivlt.selectedIndex].value);
        var data2 = document.createTextNode(drivlt.options[drivlt.selectedIndex].text);
        var data3 = document.createTextNode(companyLt.options[companyLt.selectedIndex].text);
        var data4 = document.createTextNode(noteTxt.value);

        var d = document.getElementsByClassName("driverId");

        for (var x = 0; x < d.length; x++) {
            if (d[x].textContent == drivlt.options[drivlt.selectedIndex].value) {
                dradded = true;
                break;
            }
        }

        if (companyLt.options[companyLt.selectedIndex].value == "") {
            alert("you must select a company");
        } else if (drivlt.options[drivlt.selectedIndex].value == "") {
            alert("Please select a driver");
        } else if (dradded) {
            alert("Driver already added ! ");
        }
        else {
            td1.appendChild(data1);
            tr.appendChild(td1);
            td1.className = "driverId";
            td1.style.display = "none";
            td2.appendChild(data2);
            tr.appendChild(td2);
            td3.appendChild(data3);
            tr.appendChild(td3);
            td4.appendChild(data4);
            td4.className = "noteTxt";
            tr.appendChild(td4);

            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            tr.appendChild(span);


            table.appendChild(tr);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    $(this).closest('tr').remove();
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }
        }
    }

</script>



