﻿@model CTMS___O6U.Models.TrainingModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainingModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>Number of Drivers</dt>
        <dd>@Model.Drivers_Training.Count</dd>

    </dl>
</div>

<hr/>
<table id="tblCars" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("National Id")
            </th>
            <th>
                @Html.DisplayName("Phone")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("Birthdate")
            </th>
            <th>
                @Html.DisplayName("License Degree")
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Drivers_Training.Where(e => e.Archive == false))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.ssn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.birth_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.driver.license_degree)
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "../Driver/Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "../Driver/Delete", new { id = item.id })
                </td>*@
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
