﻿@model IEnumerable<CTMS___O6U.Models.TrainingModel>

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.RequestResult != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        @ViewBag.RequestResult
    </div>
}

<h2>Driver's Training Information</h2>

<p>
    @Html.ActionLink("Create New", "Create","Training", null, new { @class = "btn btn-primary" })
</p>
<table id="tblTraining" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>Number of Drivers</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Drivers_Training.Where(d=>d.Archive == false).ToList().Count)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Assign", "Assign", new { id = item.Id }) |
                    @Html.ActionLink("unassign", "Unassign", new { id = item.Id }) |
                    <button class='btn-link js-delete' data-training-id=@item.Id> Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>

        $(document).ready(function () {
            var table = $("#tblTraining").DataTable();

            $("#tblTraining").on("click", ".js-delete", function () {
                var button = $(this);
                //bootbox.confirm("Are you sure you want to delete this Car", function (result) {
                //if (result) {
                if (confirm("Are you sure you want to delete this Driver's Training?")) {
                    $.ajax({
                        url: '@Url.Action("Delete")' + "/" + button.attr("data-training-id"),
                        //type:"DELETE",
                        success: function () {
                            //console.log("Success")
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }

                //});

            });


        });

    </script>

}