﻿@model CTMS___O6U.Models.DriverTrainingModel
@{
    ViewBag.Title = "Unassign";
}

<h2>Unassign Training from a driver</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Driver_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Driver_id",
                              new SelectList(Enumerable.Empty<SelectListItem>(), "id", "name"),
                              "-- Select a Driver --",
                              new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Driver_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Remove" class="btn btn-default" />
            </div>
        </div>

    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: WebApiURL.Url()  + "trainings/" + @ViewBag.id,
                contentType: "application/json; charset=utf-8",
                type: "GET",
                data:"",
                dataType:"JSON",
                success: function (result) {
                    $.each(result, function (key, value) {
                        $.each(value, function (k, v) {
                            //console.log(v);
                            if(v.archive == false)
                                $("#Driver_id").append($("<option> </option>").val(v.driver.id).html(v.driver.name));
                        });
                    });
                },
                error: function (data) { }
            });
        });
    </script>

}


