﻿@model CTMS___O6U.Models.CarTransportedDriverModel

@{
    ViewBag.Title = "Assign";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Assign Drivers to shipment</h2>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">

        <div class="row">

            <div class="col-xs-6 col-*-offset-3" style="margin-bottom:20px;">
                @Html.Label("Company", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DropDownList("Company", ViewBag.CompanyNames as SelectList, "-- Select Status --",
               new { @class = "form-control", @id = "companyLt" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                @Html.Label("Driver", htmlAttributes: new { @class = "control-label col-md-2" })
                <select id="driverslt" class="form-control" name="Driver">
                    <option value=""></option>
                </select>
            </div>

            <div class="col-xs-6">
                @Html.Label("Car", htmlAttributes: new { @class = "control-label col-md-2" })
                <select id="carslt" class="form-control" name="Car">
                    <option value=""></option>
                </select>
            </div>
        </div>
        @Html.ValidationMessageFor(model => model.driver_id, "", new { @class = "text-danger" })

    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
            <input type="button" onclick="newElement()" value="Add to list" class="btn btn-default addBtn" style="width:100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="datalist" class="table">
                <thead>
                    <tr>
                        <th>Driver name</th>
                        <th>Car plate number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="datalistBody"></tbody>
            </table>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="dataName" id="stringIn" />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
                <input id="assiBtn" type="submit" value="Assign" class="btn btn-default" style="width:100%;"/>
            </div>
        </div>

     } 
</div>

<script>
    var carQuanArray = {};
    $(function () {
        $("#companyLt").change(function () {

            $.get("/Transported/getDrivers", { companyId: $("#companyLt").val() }, function (data) {
                $("#driverslt").empty();
                $.each(data, function (index, row) {
                    $("#driverslt").append("<option value='" + row.id + "'>" + row.name + "</option>")
                });
            });

            $.get("/Transported/getCars", { companyId: $("#companyLt").val() }, function (data) {
                $("#carslt").empty();
                $.each(data, function (index, row) {
                    $("#carslt").append("<option value='" + row.id + "'>" + row.plate_number + " - " + row.model + "</option>")
                    carQuanArray['id' + row.id] = row.Capcity;
                });
            });
        });
    });

    var assignVal = new Array();
    var quantity = '@ViewBag.quantity';

    $('form').submit(function (e) {
        assignVal = [];
        var quan = 0;
        $("#datalist").find("tr").find("td[class='carId']").each(function (index) {
            assignVal[assignVal.length] = $(this).text();
            quan += carQuanArray['id' + $(this).text()];
            assignVal[assignVal.length] = $(this).closest("tr").find("td[class='driverId']").text();
        });
        if (quan < quantity) {
            alert("The shippment quantity is " + quantity + " while assigned cars can only carry " + quan);
            alert('submit intercepted');
            e.preventDefault(e);
        } else {
            alert("done");
            $('#stringIn').val(assignVal.toString());
        }

    });

    

    //$("#assiBtn").click(function () {
    //    assignVal = [];
    //    var quan = 0;
    //    $("#datalist").find("tr").find("td[class='carId']").each(function (index) {
    //        assignVal[assignVal.length] = $(this).text();
    //        quan += carQuanArray['id' + $(this).text()]; 
    //        assignVal[assignVal.length] = $(this).closest("tr").find("td[class='driverId']").text();
    //    });
    //    if (quan < quantity) {

    //    }
    //    $('#stringIn').val(assignVal.toString());
    //});

    var close = document.getElementsByClassName("close");
    var i;


    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            $(this).closest('tr').remove();

            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    function newElement() {

        var dradded = false;
        var caradded = false;
       

        var drivlt = document.getElementById("driverslt");
        var carlt = document.getElementById("carslt");

        var table = document.getElementById("datalistBody");

        var tr = document.createElement("tr");
        var td1, td2, td3, td4;
        td1 = document.createElement("td");
        td2 = document.createElement("td");
        td3 = document.createElement("td");
        td4 = document.createElement("td");

        var data1 = document.createTextNode(drivlt.options[drivlt.selectedIndex].value);
        var data2 = document.createTextNode(drivlt.options[drivlt.selectedIndex].text);
        var data3 = document.createTextNode(carlt.options[carlt.selectedIndex].value);
        var data4 = document.createTextNode(carlt.options[carlt.selectedIndex].text);

        var d = document.getElementsByClassName("driverId");
        var c = document.getElementsByClassName("carId");

        for (var x = 0; x < d.length; x++) {
            if (d[x].textContent == drivlt.options[drivlt.selectedIndex].value)
            {
                dradded = true;
                break;
            }
        }

        if (!dradded) {
            for (var x = 0; x < c.length; x++) {
                if (c[x].textContent == carlt.options[carlt.selectedIndex].value) {
                    caradded = true;
                    break;
                }
            }
        }

        if (companyLt.options[companyLt.selectedIndex].value == "") {
            alert("you must select a company");
        } else if (drivlt.options[drivlt.selectedIndex].value == "") {
            alert("Please select a driver");
        } else if (carlt.options[carlt.selectedIndex].value == "") {
            alert("Please select a car");
        } else if (dradded || caradded) {
            if (dradded)
                alert("Driver already added ! ");
            else
                alert("Car alreadt added !");
        }
        else {
            td1.appendChild(data1);
            tr.appendChild(td1);
            td1.className = "driverId";
            td1.style.display = "none";
            td2.appendChild(data2);
            tr.appendChild(td2);
            td3.appendChild(data3);
            tr.appendChild(td3);
            td3.className = "carId";
            td3.style.display = "none";
            td4.appendChild(data4);
            tr.appendChild(td4);
            
            var span = document.createElement("SPAN");
            var txt = document.createTextNode("\u00D7");
            span.className = "close";
            span.appendChild(txt);
            tr.appendChild(span);


            table.appendChild(tr);

            for (i = 0; i < close.length; i++) {
                close[i].onclick = function () {
                    $(this).closest('tr').remove();
                    var div = this.parentElement;
                    div.style.display = "none";
                }
            }
        }
    }

</script>