﻿@model IEnumerable<CTMS___O6U.Models.TransportedMatrialModel>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.RequestResult != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        @ViewBag.RequestResult
    </div>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Report", "Report")
</p>

<table id="dataTable" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.material_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_stamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>Number of cars</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.material_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_stamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>@Html.DisplayFor(modelItem => item.car_transport_driver.Where(e => e.Archive == false).ToList().Count)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Assign", "Assign", new { id = item.id }) |
            @Html.ActionLink("unassign", "Unassign", new { id = item.id }) |
            <button class='btn-link js-delete' data-training-id=@item.id>Delete </button>
        </td>
    </tr>
}

</table>

@section scripts{
    <script>

        $(document).ready(function () {
            var table = $("#dataTable").DataTable();

            $("#dataTable").on("click", ".js-delete", function () {
                var button = $(this);
                //bootbox.confirm("Are you sure you want to delete this Car", function (result) {
                //if (result) {
                if (confirm("Are you sure you want to delete this shipment record?")) {
                    $.ajax({
                        url: '@Url.Action("Delete")' + "/" + button.attr("data-training-id"),
                        //type:"DELETE",
                        success: function () {
                            //console.log("Success")
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }

                //});

            });


        });

    </script>

}
