﻿@model IEnumerable<CTMS___O6U.Models.TransportedMatrialModel>

@{
    ViewBag.Title = "Report";
}

<h2>Report</h2>

@*@Html.ActionLink("Export To PDF", "Report", new { ReportType = "PDF" })  |
@Html.ActionLink("Export To Word", "Report", new { ReportType = "Word" })  |
@Html.ActionLink("Export To Excel", "Report", new { ReportType = "Excel" })  |
@Html.ActionLink("Export To Image", "Report", new { ReportType = "Image" })*@

@using (Html.BeginForm("Report", "Transported", FormMethod.Get))
{
    <div>
        <form>
            From:
            <input type="date" name="startDate" , id="txtFromDate">
            to:
            <input type="date" name="endDate" , id="txtToDate">
        </form>

        <input type="submit" value="Filter" />
    </div>
    <br />
    <button id="download_pdf">generate PDF</button>

}
<br />
<div id="content">
    @foreach (var item in Model)
    {
        <div>
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.source)
                </dt>

                <dd>
                    <text>&nbsp;</text>
                    @Html.DisplayFor(model => item.source)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.destination)
                </dt>

                <dd>
                    <text>&nbsp;</text>
                    @Html.DisplayFor(model => item.destination)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.time_stamp)
                </dt>

                <dd>
                    <text>&nbsp;</text>
                    @Html.DisplayFor(model => item.time_stamp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>

                <dd>
                    <text>&nbsp;</text>
                    @Html.DisplayFor(model => item.Quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.material_id)
                </dt>

                <dd>
                    <text>&nbsp;</text>
                    @Html.DisplayFor(model => item.material_id)
                </dd>

            </dl>
        </div>
        <br />
        <div>
            <table class="table">
                @*<thead>*@
                <tr>
                    <th>
                        @Html.DisplayName("Comapnay Name")
                    </th>
                    <th>
                        @Html.DisplayName("Car Id")
                    </th>
                    <th>
                        @Html.DisplayName("Driver Id")
                    </th>

                </tr>
                @*</thead>*@

                @*<tbody>*@
                @foreach (var it in item.car_transport_driver.Where(e => e.Archive == false))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => it.driver.company.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => it.car_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => it.driver_id)
                        </td>

                    </tr>
                }
                @*</tbody>*@
            </table>
        </div>
        <hr />

    }
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js" integrity="sha384-CchuzHs077vGtfhGYl9Qtc7Vx64rXBXdIAZIPbItbNyWIRTdG0oYAqki3Ry13Yzu" crossorigin="anonymous"></script>
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")

    <script>
        $(document).ready(function () {

            //$('#download_pdf').click(function () {
            //    html2canvas(document.body, {
            //        onrendered: function (canvas) {
            //            var img = canvas.toDataURL("image/png");
            //            var doc = new jsPDF();
            //            doc.addImage(img, 'JPEG', 5,5);
            //            doc.save('test.pdf');
            //        }
            //    });
            //});
            //var doc = new jsPDF();
            //var specialElementHandlers = {
            //    '#editor': function (element, renderer) {
            //        return true;
            //    }
            //};

            //$('#download_pdf').click(function () {
            //    doc.fromHTML($('#content').html(), 15, 15, {
            //        'width': 170,
            //        'elementHandlers': specialElementHandlers
            //    });
            //    doc.save('sample-file.pdf');
            //});

            $('#download_pdf').click(function () {
                var pdf = new jsPDF('p', 'pt', 'A4')
                    , source = $('#content')[0]
                    , specialElementHandlers = {
                        '#bypassme': function (element, renderer) {
                            return true
                        }
                    }

                margins = { top: 60, bottom: 60, left: 40, width: 80 };
                pdf.fromHTML(source, margins.left, margins.top, {
                    'width': margins.width,
                    'elementHandlers': specialElementHandlers
                },
                    function (dispose) {
                        pdf.save('download_pdf.pdf');
                    }, margins
                )
            });
        });

    </script>
}
@*<script>
        $(document).ready(function () {
            $("#txtFromDate").datepicker({
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#txtToDate").datepicker("option", "minDate", selected)
                }
            });
            $("#txtToDate").datepicker({
                numberOfMonths: 2,
                onSelect: function (selected) {
                    $("#txtFromDate").datepicker("option", "maxDate", selected)
                }
            });
        });
    </script>*@