﻿@model IEnumerable<CTMS___O6U.Models.CarTransportedDriverModel>

@{
    ViewBag.Title = "Unassign";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<h2>Unassign</h2>

<table id="unassignTb" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.driver.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver.ssn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.plate_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.company.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.driver.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.driver.ssn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car.plate_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.car.company.name)
        </td>
        <td id="dataId" style="display:none">
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            <span id="unassign">Unassign</span>
        </td>
    </tr>
}

</table>


<table id="reassign" class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.driver.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.driver.ssn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.plate_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car.company.name)
        </th>
        <th></th>
    </tr>

</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="dataName" id="stringIn" />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
                <input id="assiBtn" type="submit" value="Assign" class="btn btn-default" style="width:100%;" />
            </div>
        </div>

}

<script>
    $(document).ready(function () {

        var assignVal = new Array();

        $("#assiBtn").click(function () {
            $("#reassign").find("tr").find("td[id='dataId']").each(function (index) {
                assignVal[assignVal.length] = $(this).text();
            });
            //alert(assignVal.toString());
            $('#stringIn').val(assignVal.toString());
        });

        $("#unassign").click(function () { unAssignFunc(this) });

        function unAssignFunc (k) {
            var x = $(k).closest("tr");
            x.find("span").text("Reassign").attr("id", "reassignBtn");
            $("#reassign tr:last").after(x);
            $(this).unbind("click");
            $("#reassignBtn").click(function () { reAssignFunc(this) });
        }

        function reAssignFunc(k) {
            var x = $(k).closest("tr");
            x.find("span").text("Unassign").attr("id", "unassign");
            $("#unassignTb tr:last").after(x);
            $(this).unbind("click");
            $("#unassign").click(function () { unAssignFunc(this) });
        }

    });
</script>
