﻿@model CTMS___O6U.Models.CompanyMaterialModel

@{
    ViewBag.Title = "Assign";
}

<h2>Assign Materials</h2>

@*@using (Html.BeginForm())
{*@
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.matrial_id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("matrial_id",
                                             new SelectList(Enumerable.Empty<SelectListItem>(), "matrial_id", "name"),
                                             "-- Select a Material --",
                                             new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.matrial_id, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>*@



    <div class="form-group">
        <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
            <input type="button" onclick="newElement()" value="Add to list" class="btn btn-default addBtn" style="width:100%;" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table id="datalist" class="table">
                <thead>
                    <tr>
                        <th>Material name</th>
                        @*<th>Car plate number</th>
                            <th></th>*@
                    </tr>
                </thead>
                <tbody id="datalistBody"></tbody>
            </table>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="dataName" id="stringIn" />
        <div class="form-group">
            <div class="col-md-offset-4 col-md-4" style="margin-bottom:30px;margin-top:20px;">
                <input id="assiBtn" type="submit" value="Assign" class="btn btn-default" style="width:100%;" />
            </div>
        </div>

    }

</div>

@*}*@

@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: WebApiURL.Url() + "DummyMaterials",
                contentType: "application/json; charset=utf-8",
                type: "GET",
                data: "",
                dataType: "JSON",
                success: function (result) {
                    $.each(result, function (key, value) {
                        //if (value.archive == false)
                        $("#matrial_id").append($("<option> </option>").val(value.matrial_id).html(value.name));
                    });
                },
                error: function (data) { }
            });
        });

        var assignVal = new Array();

        $("#assiBtn").click(function () {
            assignVal = [];
            $("#datalist").find("tr").find("td[class='matrialId']").each(function (index) {
                assignVal[assignVal.length] = $(this).text();
            });
            //alert(assignVal.toString());
            $('#stringIn').val(assignVal.toString());
        });

        var close = document.getElementsByClassName("close");
        var i;


        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                $(this).closest('tr').remove();

                var div = this.parentElement;
                div.style.display = "none";
            }
        }

        function newElement() {

            var materialed = false;
            var materiallt = document.getElementById("matrial_id");

            var table = document.getElementById("datalistBody");

            var tr = document.createElement("tr");
            var td1,td2;
            td1 = document.createElement("td");
            td2 = document.createElement("td");
            var data1 = document.createTextNode(materiallt.options[materiallt.selectedIndex].value);
            var data2 = document.createTextNode(materiallt.options[materiallt.selectedIndex].text);

            var d = document.getElementsByClassName("matrialId");
            console.log(d)
            for (var x = 0; x < d.length; x++) {
                if (d[x].textContent == materiallt.options[materiallt.selectedIndex].value) {
                    materialed = true;
                    break;
                }
            }


            if (materiallt.options[materiallt.selectedIndex].value == "") {
                alert("you must select a company");
            //} else if (drivlt.options[drivlt.selectedIndex].value == "") {
            //    alert("Please select a driver");
            //} else if (carlt.options[carlt.selectedIndex].value == "") {
            //    alert("Please select a car");
            } else if (materialed) {
                alert("Material already added ! ");
            }
            else {
                td1.appendChild(data1);
                tr.appendChild(td1);
                td1.className = "matrialId";
                td1.style.display = "none";
                td2.appendChild(data2);
                tr.appendChild(td2);
                

                var span = document.createElement("SPAN");
                var txt = document.createTextNode("\u00D7");
                span.className = "close";
                span.appendChild(txt);
                tr.appendChild(span);


                table.appendChild(tr);

                for (i = 0; i < close.length; i++) {
                    close[i].onclick = function () {
                        $(this).closest('tr').remove();
                        var div = this.parentElement;
                        div.style.display = "none";
                    }
                }
            }
        }



    </script>

}


