﻿@model CTMS___O6U.Models.CompanyModel

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>CompanyModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.matriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matriel)
        </dd>*@

    </dl>
</div>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Plate number")
            </th>
            <th>
                @Html.DisplayName("Color")
            </th>
            <th>
                @Html.DisplayName("Capcity")
            </th>
            <th>
                @Html.DisplayName("Width")
            </th>
            <th>
                @Html.DisplayName("Length")
            </th>
            <th>
                @Html.DisplayName("Weight")
            </th>
            <th>
                @Html.DisplayName("Satisfied")
            </th>
            <th>
                @Html.DisplayName("Model")
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.cars.Where(e => e.Archive == false))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.plate_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Capcity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.satisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>

            <td>
                @Html.ActionLink("Edit", "../cars/Edit", new { id = item.id }) 
                @*@Html.ActionLink("Delete", "../cars/Delete", new { id = item.id })*@
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
