﻿@model CTMS___O6U.Models.CompanyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

    </dl>
</div>


<hr />
<table id="tblMaterials" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Material")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Comapny_Materials.Where(e => e.Archive == false))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.matrial_id)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "../cars/Edit", new { id = item.id }) |*@
                    @*@Html.ActionLink("Delete", "..//Delete", new { id = item.id })*@
                    <button class='btn-link js-delete' data-material-id=@item.id> Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts{
    <script>

    $(document).ready(function () {

        $("#tblMaterials").on("click", ".js-delete", function () {
            var button = $(this);
            if (confirm("Are you sure ?")){
                    $.ajax({
                        url: '@Url.Action("DeleteMaterial")' + "/" + button.attr("data-material-id"),
                        //method:"DELETE",
                        success: function () {
                            //console.log("Success")
                            button.parents("tr").remove();
                        }
                    });
                }
        });


    });
    </script>
}



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
