﻿@model CTMS___O6U.Models.CompanyModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>Company and its Drivers</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postal_code)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.matriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matriel)
        </dd>*@

    </dl>
</div>
<hr />
<table id="tblCars" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("National Id")
            </th>
            <th>
                @Html.DisplayName("Phone")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("Birthdate")
            </th>
            <th>
                @Html.DisplayName("License Degree")
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.drivers.Where(e => e.Archive == false))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ssn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birth_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.license_degree)
            </td>

            <td>
                @Html.ActionLink("Edit", "../Driver/Edit", new { id = item.id }) 
                @*@Html.ActionLink("Delete", "../Driver/Delete", new { id = item.id })*@
            </td>
        </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
