﻿@model IEnumerable<CTMS___O6U.Models.CompanyModel>

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.RequestResult != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        @ViewBag.RequestResult
    </div>
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblCompany" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postal_code)
            </th>
            <th>
                @Html.DisplayName("Num of cars")
            </th>
            <th>
                @Html.DisplayName("Num of Drivers")
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cars.Where(e => e.Archive == false).ToList().Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.drivers.Where(e => e.Archive == false).ToList().Count)
            </td>
            <td>
                @Html.ActionLink("Assign Materials", "Assign", new { id = item.id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Cars", "Cars", new { id = item.id }) |
                @Html.ActionLink("Drivers", "Drivers", new { id = item.id }) |
                @*@Html.ActionLink("Shipments", "Shipment", new { id = item.id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
        }
    </tbody>

</table>
@section scripts{
    <script>

        $(document).ready(function () {
            $("#tblCompany").DataTable();
        });
    </script>
}