﻿@model CTMS___O6U.Models.DriverModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>DriverModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ssn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birth_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birth_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.license_degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companys_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companys_id)
        </dd>

    </dl>
</div>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>Training Name</th>
            <th>Duration</th>
            <th>Starting Date</th>
            <th>Notes</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Drivers_Training.Where(e=>e.Archive == false))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Duration)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>

        </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
