﻿@model IEnumerable<CTMS___O6U.Models.DriverModel>

@{
    ViewBag.Title = "Index";
}


@if (ViewBag.RequestResult != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        @ViewBag.RequestResult
    </div>
}

<h2>Drivers Information</h2>

<p>
    @Html.ActionLink("Create New", "Create","Driver",null,new {@class="btn btn-primary" })
</p>
<table id="tblDrivers" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ssn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birth_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.license_degree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.companys_id)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ssn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birth_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.license_degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                    <button class='btn-link js-delete' data-driver-id= @item.id> Delete </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
<script>

    $(document).ready(function () {
        var table = $("#tblDrivers").DataTable();

        $("#tblDrivers").on("click", ".js-delete", function () {
            var button = $(this);
            //bootbox.confirm("Are you sure you want to delete this Car", function (result) {
            //if (result) {
            if (confirm("Are you sure you want to delete this Driver?")){
                    $.ajax({
                        url: '@Url.Action("Delete")'+ "/" + button.attr("data-driver-id"),
                        //type:"DELETE",
                        success: function () {
                            //console.log("Success")
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }

            //});

        });


    });
</script>
}
