﻿@model IEnumerable<CTMS___O6U.Models.CarModel>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.RequestResult != null)
{
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Info:</span>
        @ViewBag.RequestResult
    </div>
}


<h2>Cars Data</h2>

<p>
    @Html.ActionLink("Create New", "Create","cars",null, new {@class="btn btn-primary" })
</p>
<table id="tblCars" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.plate_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capcity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.satisfied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.model)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.company.name)*@
                @Html.DisplayNameFor(model => model.company_id)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
             
           var warn = !item.satisfied ? "red" : null; 
        <tr bgcolor="@warn">
            <td>
                @Html.DisplayFor(modelItem => item.plate_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capcity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.satisfied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.ActionLink(item.company.name, "Cars", "companies", new { id = item.company_id }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                <button class='btn-link js-delete' data-car-id=@item.id> Delete </button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>

    $(document).ready(function () {
        $("#tblCars").DataTable();


        $("#tblCars").on("click", ".js-delete", function () {
            var button = $(this);
            if (confirm("Are you sure you?")){
                    $.ajax({
                        url: '@Url.Action("Delete")' + "/" + button.attr("data-car-id"),
                        //type:"DELETE",
                        success: function () {
                            //console.log("Success")
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
        });

    });
    </script>
} 


